.motion-word {
	display: inline;
	white-space: normal;
	max-width: 100%;
}

.motion-head-opacity {
	position: relative;
	color: transparent;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	backface-visibility: hidden;
}

.motion-head-opacity::after {
	content: attr(data-text);
	width: 100%;
	height: 100%;
	position: absolute;
	inset: 0;
	color: var(--letter-color);
	animation-duration: inherit;
	animation-delay: inherit;
	animation-fill-mode: inherit;
	animation-timing-function: inherit;
	backface-visibility: hidden;
	animation-name: motion-head-opacity;
	opacity: 10%;
}

@keyframes motion-head-opacity {
	to {
		opacity: 100%;
	}
}

.motion-head-cubic {
	position: relative;
	color: transparent;
	animation-duration: 0.7s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	backface-visibility: hidden;
}

.motion-head-cubic::before,
.motion-head-cubic::after {
	width: 100%;
	height: 100%;
	position: absolute;
	inset: 0;
	color: var(--letter-color);
	animation-duration: inherit;
	animation-fill-mode: inherit;
	animation-timing-function: inherit;
	backface-visibility: hidden;
	animation-delay: inherit;
}

.motion-head-cubic::after {
	content: attr(data-text);
	animation-name: motion-head-cubic-out;
}

.motion-head-cubic::before {
	content: attr(data-text);
	animation-name: motion-head-cubic-in;
	animation-delay: calc(inherit + 0.1);
}

@keyframes motion-head-cubic-out {
	from {
		transform: translateY(0%) rotateX(0deg);
		opacity: 100%;
		filter: blur(0px);
	}
	to {
		transform: translateY(-50%) rotateX(90deg);
		opacity: 0%;
		filter: blur(2px);
	}
}

@keyframes motion-head-cubic-in {
	from {
		transform: translateY(50%) rotateX(90deg);
		opacity: 0%;
		filter: blur(2px);
	}
	to {
		transform: translateY(0%) rotateX(0deg);
		opacity: 100%;
		filter: blur(0px);
	}
}

.motion-head-blur {
	display: inline-block;
	opacity: 0;
	filter: blur(10px);
	animation-name: motion-head-blur;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes motion-head-blur {
	to {
		opacity: 1;
		filter: blur(0);
	}
}

.motion-head-slide {
	display: inline-block;
	opacity: 0;
	transform: translateX(80px);
	animation-name: motion-head-right;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes motion-head-right {
	0% {
		opacity: 0;
		transform: translateX(80px);
	}

	50% {
		opacity: 0.7;
		transform: translateX(-20px);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

.motion-head-elastic {
	display: inline-block;
	transform: rotateX(-90deg) scale(1);
	animation-name: motion-head-elastic;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes motion-head-elastic {
	50% {
		transform: rotateX(20deg);
	}

	to {
		transform: rotateX(0deg);
	}
}
